/* MovieForm component */

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

/* MovieList component */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

td:last-child {
  text-align: right;
}

button {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #c82333;
}

/* SearchBar component */
input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  
}

button[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button[type="button"]:hover {
  background-color: #0062cc;
}
h1 {
  text-align: center;
}